attrs
black
boto3
beautifulsoup4
cogapp
datasette
datasette-render-image-tags
flake8
flickr-photos-api
flickr-url-parser
httpx
humanize
hyperlink
instaloader
keyring
naturalsort==1.5.1
Pillow
pillow_heif
pip-tools
pypdf
pytest
regex
sqlite-utils
termcolor
tqdm
yt-dlp
