beautifulsoup4
cogapp
datasette
httpx
humanize
hyperlink
iterm2
keyring
naturalsort==1.5.1  # Used as 'natsort'
Pillow
pillow_heif
pipx
pygments  # Used as 'pygmentize' in 'pp_xml.sh'
pypdf
pytest
ruff
smartypants
sqlite-utils
termcolor
tqdm
yt-dlp>=2024.3.10
