attrs
boto3
beautifulsoup4
cogapp
datasette
datasette-render-image-tags
google-api-python-client==2.136.0
google-auth-oauthlib==0.4.1
httpx
humanize
hyperlink
instaloader
keyring
naturalsort==1.5.1  # Used as 'natsort'
Pillow
pillow_heif
pipx
pygments  # Used as 'pygmentize' in 'pp_xml.sh'
pypdf
pytest
ruff
sqlite-utils
termcolor
tqdm
yt-dlp>=2024.3.10
